                          /* RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

menu,
ol,
ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: currentColor;
}

                           /* LAYOUT */

.row {
    flex-wrap: wrap;
    display: flex;
}

.container{
    max-width: 1000px;
    margin: 0 auto;
}
                            /* HEADER */

.col-header{
    /* width: 200px; */
}

.row, .header{
    align-items: center;
    justify-content: space-around;
}

.col-4{
    width: calc(4 * 100% / 12);
}

.row, .footer{
    justify-content: space-between;
}

                               /* DEBUG */

.debug .container{
    border: 1px solid red;
    padding: 20px;
}

.debug .row{
    border: 1px solid blue;
    padding: 20px;
}

.debug .col, .col-4, .col-header{
    border: 1px solid green;
    padding: 20px;
}